<h2>Search Places</h2>
<form action="/places" method="GET">
    <label>Name</label>
    <input type="text" name="placeName" value="<%= searchOption.placeName %> ">
    <button type="submit">Search</button>
</form>
<br>
<% places.forEach(place => { %>
<div><%= place.placeName %> </div>
<a href="/places/<%= place.id %>">View</a>
<a href="/places/<%= place.id %>/edit">Edit</a>

<form method="POST" action="/places/<%= place.id %>?_method=DELETE">
    <button type="submit">Delete</button>

</form>
<% }) %>